In [21]:
# import dependencies
%matplotlib notebook
from random import random
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import sem

In [22]:
ncdc_file = pd.read_csv("Data/Weather_Data_NCDC_2010.csv")
ncdc_file.head()

,Location ID,Location,Date (Year Month),Value in F,Rank,1901-2000 Mean in F,Anomaly (1901-2000 base period)
0,100,Alabama,201001,40.0,15,45.1,-5.1
1,200,Arizona,201001,42.2,82,40.7,1.5
2,300,Arkansas,201001,36.5,24,39.3,-2.8
3,400,California,201001,45.2,102,42.3,2.9
4,500,Colorado,201001,26.1,89,23.7,2.4

In [23]:
ncdc_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5568 entries, 0 to 5567
Data columns (total 7 columns):
Location ID                        5568 non-null int64
Location                           5568 non-null object
Date (Year Month)                  5568 non-null int64
Value in F                         5568 non-null float64
Rank                               5568 non-null int64
1901-2000 Mean in F                5568 non-null float64
Anomaly (1901-2000 base period)    5568 non-null float64
dtypes: float64(3), int64(3), object(1)
memory usage: 304.6+ KB

In [24]:
ncdc_state_df = ncdc_file.filter(['Location','Date (Year Month)','Value in F'])
ncdc_state_df.head()

     Location  Date (Year Month)  Value in F
0     Alabama             201001        40.0
1     Arizona             201001        42.2
2    Arkansas             201001        36.5
3  California             201001        45.2
4    Colorado             201001        26.1

In [25]:
state_group = ncdc_state_df.groupby("Location")
state_group.head()

           Location  Date (Year Month)  Value in F
0           Alabama             201001        40.0
1           Arizona             201001        42.2
2          Arkansas             201001        36.5
3        California             201001        45.2
4          Colorado             201001        26.1
5       Connecticut             201001        27.0
6          Delaware             201001        33.4
7           Florida             201001        52.5
8           Georgia             201001        41.8
9             Idaho             201001        28.2
10         Illinois             201001        21.5
11          Indiana             201001        23.9
12             Iowa             201001        13.6
13           Kansas             201001        27.2
14         Kentucky             201001        29.8
15        Louisiana             201001        45.6
16            Maine             201001        20.3
17         Maryland             201001        32.2
18    Massachusetts             201001        25.9
19         Michigan             201001        21.3
20        Minnesota             201001         8.8
21      Mississippi             201001        40.6
22         Missouri             201001        25.5
23          Montana             201001        20.6
24         Nebraska             201001        22.1
25           Nevada             201001        32.9
26    New Hampshire             201001        21.1
27       New Jersey             201001        31.2
28       New Mexico             201001        33.6
29         New York             201001        21.8
..              ...                ...         ...
210   Massachusetts             201005        60.3
211        Michigan             201005        58.3
212       Minnesota             201005        56.0
213     Mississippi             201005        74.4
214        Missouri             201005        64.5
215         Montana             201005        46.3
216        Nebraska             201005        56.3
217          Nevada             201005        49.2
218   New Hampshire             201005        56.7
219      New Jersey             201005        64.0
220      New Mexico             201005        59.9
221        New York             201005        58.6
222  North Carolina             201005        69.5
223    North Dakota             201005        52.4
224            Ohio             201005        63.4
225        Oklahoma             201005        68.2
226          Oregon             201005        46.4
227    Pennsylvania             201005        60.5
228    Rhode Island             201005        60.9
229  South Carolina             201005        73.2
230    South Dakota             201005        54.2
231       Tennessee             201005        69.1
232           Texas             201005        73.8
233            Utah             201005        50.2
234         Vermont             201005        56.0
235        Virginia             201005        66.2
236      Washington             201005        48.7
237   West Virginia             201005        63.4
238       Wisconsin             201005        57.6
239         Wyoming             201005        44.0

[240 rows x 3 columns]